# Renombrá a license.secret (gitignored)
# DEBE ser exactamente igual que SECRET_PARTS unido en src/pro/index.js
# Por defecto: Auralert_Pr0_2026_xK9  (cambialo en producción en AMBOS lugares)
#
# Generar licencias: node scripts/generate-license.js
